<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
		<style type="text/css">
			body {
				margin: 50px 0;
			}
			div.panel-body {
				border-bottom: 1px solid #ccc;
			}
			h2 {
				margin-top: 0;
			}
			div.actions form {
				display: inline-block;
			}
		</style>
		
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="panel panel-default">
						<div class="panel-heading">Send SMS</div>
						<div class="panel-body">
							<form th:action="@{/sendSMS}" method="post">
								<div class="form-group">
									<label for="source">Source</label>
									<input type="text" name="source" class="form-control" placeholder="Account Holder" />
								</div>
								<div class="form-group">
									<label for="destination">Destination</label>
									<input type="text" name="destination" class="form-control" />
								</div>
								<div class="form-group">
									<label for="messageBody">Body</label>
									<input type="text" name="messageBody" class="form-control" />
								</div>
								<div class="form-group">
									<label for="messageDateTime">Date (MM/DD/YYYY)</label>
									<div class="row">
										<div class="col-xs-6">
											<input type="text" name="msgDate" class="form-control" />
										</div>
									</div>
									<label for="messageDateTime">Time</label>
									<div class="row">
										<div class="col-xs-6">
											<input type="text" name="msgTime" class="form-control" />
										</div>
									</div>
								</div>
								<button type="submit" class="btn btn-default">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>